@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .banner {
    @apply bg-[url('../assets/banner.svg')] bg-no-repeat w-full bg-cover bg-center h-full;
  }

  .banner02 {
    @apply bg-[url('../assets/banner02.svg')] bg-no-repeat w-full bg-cover bg-center h-full;
  }

  .banner03 {
    @apply bg-[url('../assets/banner03.svg')] bg-no-repeat w-full bg-cover bg-center h-full;
  }

  .banner04 {
    @apply bg-[url('../assets/banner04.svg')] bg-no-repeat w-full bg-cover bg-center h-full;
  }

  .fadeLeftMini {
    animation: fadeLeftMini 1s;
    animation-fill-mode: both;
  }

  .fadeRightMini {
    animation: fadeRightMini 1s;
    animation-fill-mode: both;
  }

  @keyframes fadeLeftMini {
    0% {
      opacity: 0;
      transform: translate3d(-40%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translateZ(0);
    }
  }

  @keyframes fadeRightMini {
    0% {
      opacity: 0;
      transform: translate3d(40%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translateZ(0);
    }
  }
}
